$bg-red: #ee1c27
$bg-lightred: #ff002e
$bg-grey: #e6e6e6
$bg-violet: #2b003a
$bg-lightviolet: #530a6c
$bg-orange: #f46425
$bg-green: #00887c
$bg-deepgreen: #08391b
$bg-blue: #0c0549

@import url(//fonts.googleapis.com/css?family=Open+Sans)
@import url(//fonts.googleapis.com/css?family=Lobster+Two)




*
  margin: 0
  padding: 0

body
  font-family: 'Open Sans', sans-serif
  background: $bg-grey
  color: $bg-grey
  background-attachment: fixed
  *::selection
    color: black
    background: yellow


.bootstrapper
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  width: 100%
  height: 100%
  display: flex

.img-responsive
  max-width: 100%
  @media screen and (max-width: 800px)
    max-height: 360px
    max-width: 80%
  @media screen and (max-width: 550px)
    height: auto
    width: auto


.app
  margin: auto
  width: 60%
  height: 68%
  min-width: 200px
  min-height: 200px
  display: flex
  justify-content: center
  align-items: center
  @media screen and (max-width: 800px)
    flex-direction: column
    align-items: center
    justify-content: space-around
    min-height: 700px
    width: 80%
  .logo-container
    display: flex
    flex-direction: column
    align-items: center
    min-width: 50%
    flex: 1 1 auto
    margin-right: 10px
    @media screen and (max-width: 550px)
      height: auto
      width: auto
  .content-container
    align-self: stretch
    display: flex
    justify-content: center
    flex: 1 2 auto

    .mid
      display: flex
      flex-direction: column
      margin: 10px
      justify-content: space-between

      .title
        margin: 5px
        flex: 1 1 auto
        text-align: center
        font-family: 'Lobster Two', 'Open Sans', sans-serif
        font-size: 22px
        transition: color 0.6s ease-in-out
        color: $bg-lightred
        p
          font-size: 16px
          text-align: right
          margin-right: 20px

        @media screen and (max-width: 800px)
          font-size: 18px
          p
            font-size: 14px
            text-align: center
        @media screen and (max-width: 500px)
          font-size: 16px
          p
            font-size: 12px


      .text
        padding: 20px 35px
        margin: 35px 8px
        flex: 3 3 auto
        height: 100%
        width: 450px
        font-size: 12px
        text-align: center
        color: $bg-lightred
        letter-spacing: 1px
        background: white
        box-shadow: 5px 4px 0px 4px rgba(0,0,0,0.2)
        transition: box-shadow 0.3s ease-in-out, color 0.6s ease-in-out, width 0.3ms ease-in-out
        overflow: auto
        @media screen and (max-width: 650px)
          width: auto
          max-height: 400px
        &:hover
          box-shadow: -3px 6px 0px 4px rgba(0,0,0,0.3)
      .nav
        padding-bottom: 30px
        flex: 1 1 auto
        display: flex
        flex-direction: column
        .more-content-button
        .menu
          align-self: center
          justify-content: space-between
          display: flex


//buttons
.more-content-button
  cursor: pointer
  border: none
  min-height: 32px
  margin-bottom: 15px
  text-transform: uppercase
  letter-spacing: 2px
  background: $bg-red
  color: $bg-grey
  padding: 10px 30px
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4)
  transition: box-shadow 0.3s ease-in-out, background 0.6s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out
  &:hover
    box-shadow: 3px 30px 20px -10px rgba(0,0,0,0.3)
    transform: translateY(-10px)
    background: $bg-lightred
    color: white


.nav-button
  border: none
  cursor: pointer
  min-height: 18px
  padding: 0px 15px
  margin: 0px 8px
  font-size: 12px
  background: white
  font-family: 'Open Sans', sans-serif
  color: $bg-lightred
  letter-spacing: 1px
  box-shadow: 3px 2px 0px 2px rgba(0,0,0,0.2)
  transition: box-shadow 0.3s ease-in-out, color 0.6s ease-in-out
  &:hover
    box-shadow: -1px 4px 0px 2px rgba(0,0,0,0.3)



.overlay
  background: transparentize(yellow, 0.2)
  color: black
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  text-align: justify
  .modal
    display: flex
    background: white
    width: 46%
    height: 38%
    padding: 30px
    border-radius: 5px
    font-size: 18px
    box-shadow: 0px -2px 35px -6px rgba(0,0,0,0.4)
    animation: fly 2s ease-in-out infinite
    text-decoration: none
    overflow: auto
    @media screen and (max-width: 1224px)
      width: 62%
      height: 48%
    @media screen and (max-width: 830px)
      flex-direction: column
      width: 74%
      height: 66%
    .picture
      flex: 1 1 auto
      align-self: center
      order: -1
      width: 56%
      margin-left: -40px
      margin-right: 10px
      @media screen and (max-width: 430px)
        align-self: flex-start
      img
        max-width: 100%
        min-width: 250px
    .text
      max-width: 80%
      flex: 1 1 auto
      h1
        text-transform: uppercase
        font-size: 46px
        color: $bg-red
      h2
        font-size: 20px
        color: rgb(246, 90, 90)
      p
        font-size: 14px
        //width: 40%
        color: rgb(79, 79, 79)
        margin: 8px
        // font-weight: bold
      a
        font-weight: bolder
        text-decoration: none
        color: rgb(65, 64, 64)
      @media screen and (max-width: 500px)
        h1
          font-size: 28px
        h2
          font-size: 18px
        p
          font-size: 14px




@keyframes fly
  0%
    transform: translateY(0px)
    background: white
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4)
  25%
    box-shadow: 5px 30px 20px -10px rgba(0,0,0,0.3)
    transform: translateY(-15px)
    background: white

  100%
    transform: translateY(0px)
    background: white
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4)

.hidden
    visibility: hidden
