$bg-red: #ee1c27
$bg-lightred: #ff002e
$bg-grey: #e6e6e6
$bg-violet: #2b003a
$bg-lightviolet: #530a6c
$bg-orange: #f46425
$bg-green: #00887c
$bg-deepgreen: #08391b
$bg-blue: #0c0549

@import url(//fonts.googleapis.com/css?family=Open+Sans)
@import url(//fonts.googleapis.com/css?family=Lobster+Two)




*
  margin: 0
  padding: 0

body
  font-family: 'Open Sans', sans-serif
  background: $bg-grey
  color: $bg-grey
  background-attachment: fixed
  *::selection
    color: black
    background: yellow

.bootstrapper
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  width: 100%
  height: 100%
  display: flex

.img-responsive
  max-width: 100%

.app
  margin: auto
  width: 60%
  height: 68%
  min-width: 200px
  min-height: 400px
  display: flex
  justify-content: center
  align-items: center
  @media screen and (max-width: 800px)
    flex-direction: column
    width: 80%
  .logo-container
    display: flex
    flex-direction: column
    align-items: center
    flex: 1 1 auto
    margin-right: 10px
    @media screen and (max-width: 800px)
      padding-top: 100px
      max-width: 60%
  .content-container
    align-self: stretch
    display: flex
    justify-content: center
    flex: 1 1 auto
    .mid
      display: flex
      flex-direction: column
      margin: 10px
      justify-content: space-between
      .title
        margin: 5px
        flex: 1 1 auto
        text-align: center
        font-family: 'Lobster Two', 'Open Sans', sans-serif
        font-size: 26px
        transition: color 0.6s ease-in-out
        color: $bg-lightred
        @media screen and (max-width: 800px)
          font-size: 18px

      .text
        padding: 20px
        margin: 35px 0px
        flex: 3 3 auto
        height: 100%
        transition: color 0.6s ease-in-out

      .nav
        flex: 1 1 auto
        display: flex
        flex-direction: column
        .more-content-button
        .menu
          align-self: center
          justify-content: space-between
          display: flex

.fly
  border: none
  margin-bottom: 5px
  letter-spacing: 2px
  color: $bg-grey
  padding: 10px 30px
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4)
  transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out
  &:hover
    box-shadow: 3px 30px 20px -10px rgba(0,0,0,0.3)
    transform: translateY(-10px)
    color: white

.screen-glass
  border: none
  padding: 0px 15px
  margin: 0px 8px
  font-size: 12px
  text-align: center
  color: $bg-lightred
  letter-spacing: 1px
  background: white
  box-shadow: 5px 4px 0px 4px rgba(0,0,0,0.2)
  transition: box-shadow 0.3s ease-in-out, color 0.6s ease-in-out
  &:hover
    box-shadow: -3px 6px 0px 4px rgba(0,0,0,0.3)

//buttons
.more-content-button
  border: none
  margin-bottom: 15px
  text-transform: uppercase
  letter-spacing: 2px
  background: $bg-red
  color: $bg-grey
  padding: 10px 30px
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4)
  transition: box-shadow 0.3s ease-in-out, background 0.6s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out
  &:hover
    box-shadow: 3px 30px 20px -10px rgba(0,0,0,0.3)
    transform: translateY(-10px)
    background: $bg-lightred
    color: white

.nav-button
  border: none
  padding: 0px 15px
  margin: 0px 8px
  font-size: 12px
  background: white
  font-family: 'Open Sans', sans-serif
  color: $bg-lightred
  letter-spacing: 1px
  box-shadow: 3px 2px 0px 2px rgba(0,0,0,0.2)
  transition: box-shadow 0.3s ease-in-out, color 0.6s ease-in-out
  &:hover
    box-shadow: -1px 4px 0px 2px rgba(0,0,0,0.3)





@keyframes fly
  0%
    transform: translateY(0px)
    background: $bg-grey
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4)
  40%
    box-shadow: 5px 30px 20px -10px rgba(0,0,0,0.3)
    transform: translateY(-15px)
    background: white
  60%
    box-shadow: 5px 30px 20px -10px rgba(0,0,0,0.3)
    transform: translateY(-15px)
    background: white
  100%
    transform: translateY(0px)
    background: $bg-grey
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4)
